<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <!--  
	<import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
	-->
    <import resource="classpath:META-INF/cxf/cxf-extension-*.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    
	<context:component-scan base-package="kr.co.d2net.rest"/>
	
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
	
	<jaxrs:server id="restContainer" address="/">
		<jaxrs:serviceBeans>
			<ref bean="restfulService"/>
			<ref bean="rfCategoryService"/>
			<ref bean="rfTransferService"/>
			<ref bean="rfClientService"/>
			<ref bean="rfUserService"/>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider"/>
		</jaxrs:providers>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json"/>
		</jaxrs:extensionMappings>
	</jaxrs:server>
	
	
	
    <!-- Spring manage ServiceBean 
    <bean id="navigator" class="kr.co.d2net.soap.ServiceNavigator" />
    -->

    <!-- JAX-WS Service Endpoint 
    <jaxws:endpoint id="serviceNavigator" implementor="#navigator" address="/ServiceNavigator" />
    -->
    
</beans>